.Main-chat
  .Main-header
    .Main-header__box
      .Main-header__group-name
        = @group.name
      %ul.Main-header__member-list 
        Member :
        - @group.users.each do |user|
          %li.Main-header__member-list--name
            = user.name
    = link_to edit_group_path(@group),class: "Main-header__edit-btn" do
      Edit
  .Message
    = render @messages
  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__box
        = f.text_field :content, class: 'Form__content', placeholder: 'type a message'
        = f.label :image, class: 'Form__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Form__image-file'
      = f.submit 'Send', class: 'Form__submit-btn'